<div class="header_contact_nav navbar justify-content-between">
  <div class="container">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to "o blogu", about_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "regulamin", terms_path, class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "kontakt", new_contact_path, class: "nav-link active" %>
      </li>
    </ul>
    <form class="form-inline" id="myform", style="align: right">
      <%= form_tag search_results_path, method: "get" do %>
        <%= text_field_tag :search_keywords, "", class: 'form-control-sm', placeholder: "Szukaj"  %>
        <%= button_tag(type: "submit", class:"lupa") do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
        <%= link_to "https://www.facebook.com/G%C5%82odna-Chleba-279952855837588/" do %>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </form>

  </div>
</div>

<div class="header_name_jumbotron">
  <div class="container header_name">
    <h1>głodna Chleba</h1>
  </div>
</div>

<div class="header_menu">
  <div class="container">
    <ul class="nav nav-justified">
      <li class="nav-item">
        <a><%= link_to "Moje myśli", posts_path, class: "nav-link active" %></a>
      </li>
      <li class="nav-item">
        <%= link_to "Pomódlmy się", intentions_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "W okolicy", news_events_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to root_path do %>
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "Półka", news_shelf_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Wspólnoty", news_ministries_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Świadectwa", news_testimonies_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>

<div class="page-header">
  <%= image_tag "bread11", style: 'height:100%;width:auto;' %>
</div>
